*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper, .registerWrapper{
    height: 80%;
    width: 40%;
}